.Weather .weather-data {
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

.Date {
  font-size: 14px;
  color: grey;
  font-weight: 300;
}

.Weather h2 {
  font-size: 38px;
  margin: 15px 0 10px;
}

.Weather .weather-img {
  display: inline-block;
  width: 120px;
}

.Weather .degrees {
  font-weight: 700;
  font-size: 28px;
  color: black;
}

.Weather a {
  text-decoration: none;
}

.Weather a:hover {
  text-decoration: underline;
}

.Weather ul {
  list-style: none;
  padding-left: 20px;
  color: grey;
  font-weight: 300;
}

.Weather .temperature {
  margin: 20px 0;
}

.Weather .indicators {
  margin: 25px 0;
  font-size: 14px;
  line-height: 20px;
}
