.Weather .weather-data {
  display: flex;
  padding: 0;
}

.Date {
  font-size: 14px;
  color: grey;
  font-weight: 300;
}

.Weather h2 {
  font-size: 38px;
  margin: 15px 0 10px;
}

.Weather .weather-img {
  display: inline-block;
  width: 120px;
}

.Weather .temperature {
  margin: 25px 10px;
}

.Weather .degrees {
  font-weight: 700;
  font-size: 24px;
  color: black;
}

.Weather a {
  text-decoration: none;
  vertical-align: 4px;
}

.Weather a:hover {
  text-decoration: underline;
}

.Weather ul {
  margin: 0px;
  list-style: none;
  padding-left: 20px;
  color: grey;
  font-weight: 300;
}

.Weather .indicators {
  margin: 25px 0;
  font-size: 14px;
  line-height: 20px;
}

.forecast-cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 5px;
}
